header.header
	.header__top
		.container
			.contacts
				a.contact(href="tel:+380998888888")
					i.fa.fa-mobile.contact__icon(aria-hiden="true")
					span.contact__text 0635252424

				a.contact(href="mailto:info@buixnesss.co")
					i.fa.fa-envelope.contact__icon.contact__email(aria-hiden="true")
					span.contact__text info@buixnesss.co

				a.facebook-icon(href="facebook.com")
					i.fa.fa-facebook(aria-hidden="true")
	.container
		.header__bottom
			.logo: img.logo__picture(src="images/logo.png" alt="picture")
			include nav
			a.button.header__button.button--red(href="#") Free Consultation